.hero-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 0 1.5rem;
    text-align: center;
}

.hero-welcome {
    font-size: 2.2rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: #6a7282;
    margin-bottom: 1.2rem;
}

.hero-title {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    line-height: 1.1;

}

.hero-line {
    font-size: clamp(1.8rem, 4vw, 2.6rem);
    color: #ffffff;
    text-shadow:
            0 0 10px rgba(255, 255, 255, 0.35);
}

.hero-name {
    font-size: clamp(2.4rem, 6vw, 4rem);
    font-weight: 600;

    background: linear-gradient(
            90deg,
            #ffffff,
            #bfc5d2
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow:
            0 0 12px rgba(255, 255, 255, 0.5);
    animation: glowPulse 4.5s ease-in-out infinite;
}

.hero-subtitle {
    font-size: 1.5rem;
    color: #6a7282;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.hero-btn {
    display: inline-block;
    padding: 0.75rem 1.1rem;
    border-radius: 999px;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.025);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.08),
    0 0 20px rgba(255, 255, 255, 0.12);
    transition: all 0.3s ease;

}



.astronaut-layer {
    position: absolute;
    top:30%;
    left:61%;
    transform: translate(-50%,-50%);
    z-index: 3;
    pointer-events: none;

}

.astronaut-img {
    width: clamp(160px, 22vw, 260px);
    height: auto;
    filter: drop-shadow(0 0 20px rgba(255,255,255,0.25));
}

@media (max-width: 768px) {
    .astronaut-layer {
        left: 60%;
        top:25%;
        transform: translate(-50%,-50%) scale(0.85);
    }
}

@keyframes glowPulse {
    0% {
        text-shadow:
                0 0 8px rgba(255, 255, 255, 0.35),
                0 0 16px rgba(255, 255, 255, 0.15);
    }
    50% {
        text-shadow:
                0 0 14px rgba(255, 255, 255, 0.6),
                0 0 30px rgba(255, 255, 255, 0.25);
    }
    100% {
        text-shadow:
                0 0 8px rgba(255, 255, 255, 0.35),
                0 0 16px rgba(255, 255, 255, 0.15);
    }
}
