.navigation {
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 999px;
    padding: 0.8rem 1.6rem;

    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.08),
                0 0 30px rgba(0, 0, 0, 0.4);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-item {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.9rem;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-item:hover {
    color: rgba(255, 255, 255, 0.95);
    transform: translate(-2px);
}
.icon-item svg {
    stroke-width: 1.6;
}

.nav-item-wrapper {
    position: relative;
    padding: 0.4rem 0.6rem;
}

.nav-active-pill {
    position: absolute;
    inset: 0;

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(2px) saturate(120%);
    -webkit-backdrop-filter: blur(2px) saturate(120%);

    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow:
            inset 0 0 10px rgba(255, 255, 255, 0.15),
            0 0 25px rgba(255, 255, 255, 0.15);

    z-index: 0;
}

.nav-item.active {
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 640px) {
    .navigation {
        bottom: 1.5rem;
        padding: 0.6rem 1.2rem;
        backdrop-filter: blur(2px) saturate(120%);
        -webkit-backdrop-filter: blur(2px);
    }

    .nav-list {
        gap: 0.1rem;
    }

    .nav-item {
        font-size: 0.5rem;
        letter-spacing: 0.03rem;
        padding: 0.2rem 0.4rem;
    }
    .nav-active-pill {
        box-shadow:
                inset 0 0 8px rgba(255, 255, 255, 0.12),
                0 0 18px rgba(255, 255, 255, 0.12);
    }
}
